body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  font-size: 13px;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 2;
    gap: 5px;
  }
  
  .container > div {
    border: 2px solid black;
    min-height: 200px;
    box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.247378);
    border-radius: 8px;
    padding: 32px;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 500;
  }
  
  .purple-box {
    grid-column: span 6;
    grid-row: span 1;
    background-color: hsl(263, 55%, 52%);
    color: white;
  
  }
  
  .white-box-1 {
    grid-column: span 3;
    grid-row: span 2;
  }
  
  .black-box {
    background-color: hsl(219, 29%, 14%);
    grid-column: span 6;
    color: white;
  }
  
  .grey-box {
    grid-column: span 3;
    grid-row: span 1;
    background-color: hsl(217, 19%, 35%);
    color: white;
  }
  
  .white-box-2 {
    grid-column: span 3;
  }
  
  .body {
    background-color: hsl(0 0% 81%);
  }
  
  @media  (max-width: 700px) {
    .container > div {
      min-height: auto;
      grid-column: span 12;
    }
  }
  
  .intro-black {
    display: flex;
    gap: 10px;
    align-items: center;
    color: hsla(0,0%,0%,0.5);
  }

  .intro-white {
    display: flex;
    gap: 10px;
    align-items: center;
    color: hsla(0,0%,100%,0.5);
  }


  img {
    width: 28px;
  height: 28px;
  border-radius: 50%;
  
  }

  p {
    margin: 4px 0px;
  }

  .quote-black {
    color: hsla(0,0%,0%,0.7);

  }

  .quote-white {
    color: hsla(0,0%,100%,0.7);
  }